<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Node JS</title>
    <style>
      nav a:first-child {
        color: yellow;
        text-shadow: 0 0 5px rgba(211, 209, 162, 0.971);
        border-radius: 10px;
        pointer-events: none;
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <%- include("blocks/header") -%>
    <main>
      <h1>The Main page</h1>
      Hello, <b>Node JS!</b>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquid
        culpa minus, repudiandae voluptatibus quod quae dignissimos asperiores
        distinctio facere, quaerat itaque praesentium aperiam eum impedit
        laborum illo suscipit corrupti!
      </p>
    </main>
  </body>
</html>
