<header>
  <big><b>Node <em>& </em>Express</b></big>
  <nav>
    <a href="/">Main page</a>
    <a href="/about">About this</a>
    <a href="/user">User</a>
  </nav>
  <form action="/check-user" method="post">
    <input type="text" name="username" placeholder="Username" />
    <button type="submit">Search</button>
  </form>
</header> 