<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us</title>
  <style>
    body {
      color: white;
      background-color: black;
      text-align: center;
      padding: 100px auto;
    }

    a {
      color: aquamarine;
    }
  </style>
</head>

<body>
  <h1>About us</h1>
  Hello <b>Node JS!</b>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquid culpa minus, repudiandae voluptatibus quod
    quae dignissimos asperiores distinctio facere, quaerat itaque praesentium aperiam eum impedit laborum illo suscipit
    corrupti!</p>
  <a href="/">Main page</a>
</body>

</html>